<div class="wrapper">

	<section id="history">
		<figure>
			<%= image_tag("richard-henderson.jpg" ) %>
		</figure>
		<article>
			<p>Richard Henderson comes from a family of ten. Since his humble upbringing in Mt. Sterling, KY, Richardʼs 
			family has always hung their hats on their Christian values.</p>
			<p>Growing up, Richardʼs father&mdash;a former union carpenter and city council member&mdash;used these morals 
				as a tool to teach Richard and his siblings the value of a dollar and the importance of honesty. Today, itʼs 
				these same principals that Richard hopes to bring to the Kentucky State Treasury. </p>
			<p>(Add EDUCATION INFO paragraph)</p>
			<p>Richard currently lives in Jeffersonville, KY,(?) with his wife, Linda. The two enjoy 
			spending time with his daughter, Syndey, step daughter, Mackenzie, and step granddaughter, Paris.</p>
		</article>
	</section>

	<section id="platform">
		<h2>Platform</h2>
		<article>
			<p>If elected Treasurer, Richard Henderson plans to stay true to his simple upbringing and blue collar background 
			by teaching Kentuckians the importance of a fair and honest dollar. He plans to support the Financial Literacy 
			and Education Commission and work to create a treasury to high school financial literacy program.</p>

			<p>Richard is dedicated to the citizens of Kentucky and the stability of the state as a whole. Thatʼs why he plans 
			to serve on all boards that support the best interests of retirees, working men and women and all Kentuckians. 
			He will work tirelessly to search for and return as much unclaimed property to the people as possible. Richard 
			considers all Kentuckians to be members of his big family, so he will continue to protect the wellbeing of our 
			citizens first and find federal monies that should be used to enhance our communities here in Kentucky.</p>
		</article>
		<figure class="experience">
			<%= image_tag("henderson-stewart.jpg" ) %>
		</figure>
		
	</section>

	<section id="experience">
		<h2> Experience</h2>
		<div class="columns">
			<figure>
				<%= image_tag("imes-turner_t-mead-coursey-bell-collins-henderson031014.jpg") %>
				<%= image_tag("harris-nelson-butler-henderson.jpg") %>
			</figure>
			<p>Richard has been a Democratic member of the Kentucky House of Representatives representing District 74 since 2007. 
			During this time, he has worked to grow committee memberships, spent six years as a member of the Transportation 
			Budget Committee and four years on the Appropriations &amp; Revenue Budget Committee. Heʼs been the Vice Chairman of 
			Agriculture and Small Business all eight years and was Co-Chair of Energy for two years. Richard believes his 
			legislative and finance experience has uniquely prepared him for the job of State Treasurer.</p>

			<p>Before his tenure as a state representative, Richard was elected Mayor of Jeffersonville, KY. 
			During his four-year term, family values and community service were the focuses of his initiatives. 
			Richard successfully expanded the city park and water system, created events like Santa in the Park 
			and an Easter egg hunt and built much-needed modern sidewalks and highways for the city. Throughout his 
			political endeavors, Richard Henderson has also spent the past 18 years as a small business owner—acting 
			as CEO and CFO of C&amp;N Concrete (?).</p>
		</div>
	</section>
	
	<section id="contact">
		<h2>Get in touch</h2>
		<form action="">
			<h3>How can we help?</h3>
			<label for="contact">Name</label>
			<input type="text" name="contact" id="name" placeholder="John Smith">
			<label for="email">E-mail</label>
			<input type="text" name="email" id="email" placeholder="jsmith@gmail.com">
			<label for="phone">Phone</label>
			<input type="text" name="phone" id="phone" placeholder="555.555.5555">
			<textarea name="comments" id="" cols="30" rows="10">Comments, questions, suggestions</textarea>
			<input type="submit" value="Submit Form">
		</form>
		<article>
			<h3>Pledge your support!</h3>
		</article>	
	</section>
</div>