<footer>
	<p>
		<sub>Photo credits: <a href="http://bluegrasspolitics.bloginky.com/2009/12/20/bill-would-allow-prosecution-of-mothers-with-addicted-newborns/
" target="_BLANK" rel="nofollow">headshot</a> | <a href="http://www.lrc.state.ky.us/pubinfo/photo.htm" target="_BLANK">all other photos </sub>
	</p>
</footer>