<header>
	<div>
		<ul>
			<li><a href="#" id="donate">Donate</a><li>
			<li><%= link_to("Pledge Support", pages_contact_path) %></li>	
		</ul>
	</div>
	<nav>
		<!-- <ul>
			<li><%= link_to('Platform', pages_platform_path) %></li>
			<li><%= link_to("Experience", pages_experience_path) %></li>
			<li><%= link_to("Get in Touch", pages_contact_path) %></li>
		</ul> -->
		<a href="#nav" id="toggle">Menu</a>
		<ul>
			<li><a href="#platform">Platform</a></li>
			<li><a href="#experience">Experience</a></li>
			<li><a href="#contact">Get in Touch</a></li>
		</ul>
	</nav>
</header>
<main>
	<h1>Elect Richard Henderson<span>Kentucky State Treasurer</span></h1>
</main>
